.mh-app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  &__sidenav {
    flex: 1;
    &__menu {
      width: 260px;
      padding: 40px;
      &__list {
        &__item {
          cursor: pointer;
          &:hover {
            background: #dcdcdc;
          }
        }
      }
    }
    &__content {
      padding: 40px;
    }
  }
}
