
<div class="mh-app">
  <mh-header (menuClick)="sidenav.toggle()"></mh-header>
  <mat-sidenav-container class="mh-app__sidenav">
    <mat-sidenav #sidenav mode="over" class="mh-app__sidenav__menu">
      <mat-list role="list">
        <mat-list-item role="listitem">Item 1</mat-list-item>
        <mat-list-item role="listitem">Item 2</mat-list-item>
        <mat-list-item role="listitem">Item 3</mat-list-item>
      </mat-list>
    </mat-sidenav>
    <mat-sidenav-content class="mh-app__sidenav__content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
