<div class="heroes">
  <div class="heroes__title">
    <h1>Heroes Grid</h1>
  </div>
  <form [formGroup]="searchForm" class="heroes__search-form">
    <mat-form-field class="heroes__search-form__field">
      <input matInput formControlName="name" type="text" placeholder="Search by name (case sensitive)">
      <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="searchForm.get('name').setValue('');">
        x
      </button>
    </mat-form-field>
  </form>
  <div class="heroes__spinner" *ngIf="!!loadingHeroes">
    <mat-spinner></mat-spinner>
  </div>
  <div class="heroes__grid">
    <mh-hero-grid-item
      (heroClicked)="showDetails(hero)"
      class="heroes__grid__hero"
      *ngFor="let hero of heroes"
      [hero]="hero">
    </mh-hero-grid-item>
  </div>
</div>
